<div class="popup">
  <div class="form-container">
    <div class="close-window" ng-click="closeWindow()"></div>
    <h1 class="header-text">{{ create_header }}</h1>
    <p class="welcome-text">{{ create_welcome }}</p>
    <form>
      <input type="text" placeholder="ismerős neve:" ng-model="createName">
      <textarea class="description" placeholder="rövid leírás: &#x0a; (pl. &quot;Béla orvosit végzett, most a NASAnál takarító&quot;)" ng-model="createDescription"></textarea>
      <button class="login-button" ng-click="createContact()">
        <p class="button-text">{{ button }}</p>
      </button>
    </form>
  </div>
</div>
