<div class="popup">
  <div class="form-container">
    <div class="close-window" ng-click="closeWindow()"></div>
    <h1 class="header-text">{{ header }}</h1>
    <p class="welcome-text">{{ welcome }}</p>
    <p class="error-text">{{ errormessage }}</p>
    <form ng-submit="editContact()">
      <input type="text" placeholder="{{editName}}" ng-model="editName" ng-required="true">
      <textarea class="description" rows="3" ng-model="editDescription" ng-required="true">{{ editDescription }}</textarea>
      <button>
        <p class="button-text">{{ button }}</p>
      </button>
    </form>
  </div>
</div>
