<div class="popup">
  <div class="konnekt-logo"></div>
  <div class="form-container">
    <h1>{{ header }}</h1>
    <p class="welcome-text">{{ welcome }}</p>
    <div class="errorText" ng-show="errormessage">
      <p>{{ errormessage }}</p>
    </div>
    <form ng-submit="loginMember()">
      <input type="text" placeholder="e-mail címed:" ng-model='userLogin.email' ng-required="true">
      <input type="password" placeholder="jelszavad:" ng-model='userLogin.password' ng-required="true">
      <button class="button">
        <p class="button-text">{{ button }}</p>
      </button>
    </form>
    <p class="footer-text">(Inkább <a href="#!/register">regisztrálnék</a>)</p>
  </div>
</div>
