<div class="popup">
  <div class="konnekt-logo"></div>
  <div class="form-container">
    <h1>{{ header }}</h1>
    <p class="welcome-text">{{ welcome }}</p>

    <div class="errorText" ng-show="errormessage">
      <p>{{errormessage}}</p>
    </div>
    
    <form ng-submit="addNewMember()">
      <input type="text" placeholder="e-mail címed:" ng-model='newUser.email' ng-required="true">
      <input type="password" placeholder="jelszavad:" ng-model='newUser.password' ng-required="true">
      <input type="password" placeholder="jelszavad mégegyszer:" ng-model='newUser.passwordConfirmation' ng-required="true">
      <button>
        <p class="button-text">{{ button }}</p>
      </button>
    </form>
    <p class="footer-text">(Inkább <a href="#!/login">belépnék</a>)</p>
  </div>
</div>
